
.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding-top: 40px;
  margin-top: -10px;
  position: relative;
  top:0;
  border-bottom-left-radius:25px ;
  border-bottom-right-radius:25px ;
  width: 80%;
  right: 19%;
  overflow-x: hidden;

}
.main .purpose-cpation{
  position: absolute;
  right:7%;
  top:0;
  color:#17a6d1;
  font-weight:bolder;
  font-size: 30px;


}
.main .purposes-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  align-content: center;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
  right: 2%;
 top:5%;
 gap: 20px;

}
.main .purposes-div img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius:25px ;
  -webkit-border-radius:25px ;
  -moz-border-radius:25px ;
  -ms-border-radius:25px ;
  -o-border-radius:25px ;
  transition: transform 0.6s ease;
  opacity: 0.7;

}
.main .purposes-div img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  filter:brightness(0.5);
  -webkit-filter:brightness(0.5);
}
.main .purposes-div p{
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  top: 25%;
  z-index: 2;
}
.main .Purpose{
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  width: 300px;
  height: 150px;
  border-radius:25px ;
  -webkit-border-radius:25px ;
  -moz-border-radius:25px ;
  -ms-border-radius:25px ;
  -o-border-radius:25px ;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}



.discover-more {
padding-top: 10px;
padding-bottom: 90px;

}
.discovermore-dropbtn{
  position: relative;
  background-color: #76DEFF;
  width: 200px;
  right: 7%;
  top: 0;
  padding-right: 15px;
  height: 40px;
  border-radius:25px ;
  -webkit-border-radius:25px ;
  -moz-border-radius:25px ;
  -ms-border-radius:25px ;
  -o-border-radius:25px ;
  cursor: pointer;
}
.discovermore-caption{
font-weight: bolder;
font-size: 25px;
 color: white;


}
.discover-more .discovermore-dropbtn img{
  position: absolute;
  top:20%;
  height: 25px;
  width: 25px;
  left:5%;
  color: white;


}
.main .error_paragraph{
  color: red;
  font-weight: bold;
  font-size: 25px;
  text-align: center;

}


.discover-categories{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  padding-top: 50px;
  position: relative;
 right: 2%;


}
.discover-categories a{
  text-decoration: none;
}

.main .discover-categories img{
 width:120px;
 height: 120px;

}
.main .discover-categories p{
font-weight: bolder;
font-size: 30px;
  color:#17a6d1;
}
.main .discover-categories [class*='category-']{
  padding: 40px 0px;
  padding-top: 60px;
  font-size: 30px;
  width: 300px;
  height: 150px;
  border-radius:20px ;
  -webkit-border-radius:20px ;
  -moz-border-radius:20px ;
  -ms-border-radius:20px ;
  -o-border-radius:20px ;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;


}










.element-to-animate {
  transition: opacity 300ms;
}
@media only screen and (max-width: 768px) {

  .main{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top:-0.8%;
    padding-top: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 1;
    margin-top: 5px;
    box-shadow: none;

  }
  .main .purposes-div{
    padding-top: 70px;
  }
  .main .discover-categories{
gap: 50px;
  }
  }
