<div class="main" id="CityMainId">
  <div class="popular-cities">
    <img src="assets/buildings.png" alt="" />
    <p class="popular-caption" id="PopularCaptionId">{{'المدن الأشهر' | translate}} </p>
  </div>
  <ng-container *ngIf="loadingService.loading$ | async as isLoading">
    <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
    </ng-container>
    <div *ngIf="errorMessage" class="error_paragraph">
      {{ errorMessage }}
    </div>  <div   class="cities-div">
    <div class="cities"  *ngFor="let city of filteredCityList">
      <div class="city"  (mouseenter)="city.hovered = true" (mouseleave)="city.hovered = false" >
        <img src="{{city.cityImage}}" alt="{{city.countryCity1}}" />
        <p *ngIf="city.hovered">{{ city.countryCity1 }}</p>
      </div>
    </div>
  </div>
</div>
