.main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding-top: 50px;
  margin-top: -10px;
  position: relative;
  top:0;
  border-bottom-left-radius:25px ;
  border-bottom-right-radius:25px ;
  width: 80%;
  right: 19%;
  overflow-x: hidden;

}
.main .main-papers,.some-details,.relatedToCountry,.notes,.embassies{
  padding:0px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:80%;
  position: relative;
  right: 7%;
}
.main  h2{
 margin-right: -30px;
 color:#17a6d1 ;
 display: inline-block;
}
.main  p{
  color:#17a6d1 ;
  font-size: large;
  font-weight: bold;
  direction: rtl;
  line-height: 10px;
  word-spacing: 2px;
  text-align: right;

 }
 .main img{
  width:20px;
  height: 20px;
  cursor: pointer;

 }
 .main .some-details div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }
 .main .some-details img{

  margin-top: 25px;
  margin-right: 10px;
 }

 .main .relatedToCountry img{
  margin-right:10px ;
  display: inline-block;
 }
 .main .notes div{
position: relative;
 }
 .main .notes img{
position: absolute;
  display: inline-block;
  right:-1%;
  top: 35%;
 }
 .main .embassies div{
  position: relative;
   }
 .main .embassies img{

  position: absolute;
  display: inline-block;
  right:-1%;
  top: 35%;

 }
 .main .relatedToCountry{
  width:92%;
 }
 .main .relatedToCountry h3{
  font-weight: bold;
  font-size: 25px;
  margin-right: -30px;
  color:#17a6d1 ;
  position: relative;
  right:-7%;
  display: inline-block;

 }


 .main .relatedToCountry p{
  position: relative;
  right:-7%;

 }



 .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:3%;
	left:3%;
	background-color:#17a6d1;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
.float img{
  width:30px;
	height:30px;
}
.my-float{
	margin-top:15px;

}

.addcomment{
  position: absolute;
  left: 30%;
  top: 50%;
  width: 25%;
  padding-right: 30px;
  padding-bottom: 20px;
  border-radius: 15px;
  z-index: 2;
  display: block;
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(to top, #4ecbf1, white); /* Adjust colors as needed */

}
.addcomment p{
  color: #17a6d1;
  font-weight: bold;
  font-size: 20px;
  text-align: right;
}
.addcomment input{
  border: none;
  font-size:18px;
  font-weight: bold;
  width: 90%;
  margin-right: -5px;
  outline: none;
  padding:1px 6px;
  border-radius: 10px;
  height: 40px;

  font-size: medium;



}
input::placeholder {
  color: rgb(224, 224, 224); /* Change the color to red */

}
.comment-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 50px;
  right: -5%;
padding: 20px 10px 5px ;
}
.addComment-button{
  padding: 5px 25px;
  font-weight: bold;
  font-size: larger;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
border: 0px solid #15aad8;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
color: #17a6d1;
cursor: pointer;


}
.closeComment-button{
  padding: 5px 25px;
  font-weight: bold;
  font-size: larger;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
border: 0px solid #15aad8;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
color: #17a6d1;

cursor: pointer;

}
.blur {
  background-color: rgba(0, 0, 0, 0.08);
  opacity: 0.2;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
   left: 0%;
  top: 0%;
}
@media only screen and (max-width: 768px) {

  .main{
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    top:-0.8%;
    padding-top: 10px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    z-index: 1;
    margin-top: 5px;
    box-shadow: none;

  }
  .main .notes img{
    right:5%;

   }
  .main .embassies img{
    right:5%;

   }
   .notes,.embassies{
    right: 0;
   }
  }
