
<div class="background-div"></div>
<div class="body" [ngClass]="{ blur: alert }">
  <div class="container">
    <div class="right-container">
      <img src="assets/logo.png" alt="" />
      <p>O_NATION</p>
    </div>
    <div class="left-container">
      <div class="new-password" id="changepass">
        <img src="assets/lock.png" alt="lock icon" class="lock-icon" />
        <form #changePassform="ngForm" (ngSubmit)="onSubmit(changePassform)">
          <div class="enter-newpassword">
            <label for="newpassword"> كلمة السر الجديدة</label>
            <img src="assets/padlock.png" alt="padlock icon" class="padlock" />
            <input
              #changePassInp="ngModel"
              type="{{ passwordVisible ? 'text' : 'password' }}"
              id="password"
              name="newpassword"
              required
              pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}$"
              ngModel
              password="true"
              [(ngModel)]="newPassword"
            />
            <img
              src="assets/hide.png"
              alt="eye icon"
              (click)="PasswordVisibility()"
              id="newpass-icon"
              class="eye-icon"
            />
            <div
              class="warnning-message"
              role="alert"
              [hidden]="changePassInp.valid || changePassInp.untouched"
            >
              <small *ngIf="changePassInp.errors?.['required']"
                >كلمة المرور مطلوبة</small
              >
              <small *ngIf="changePassInp.errors?.['pattern']"
                >كلمة المرور يجب أن تحتوي على حرف كبير وحرف صغير ورقم وحرف خاص وأن تكون مكونة من 8 أحرف على الأقل</small
              >
            </div>
          </div>

          <div class="enter-confirmpassword">
            <label for="confirmnewpassword"> تأكيد كلمة السر </label>
            <img src="assets/padlock.png" alt="padlock icon" class="padlock" />
            <input
              #confirmPasswordInput="ngModel"
              type="{{ cofirmpasswordVisible ? 'text' : 'password' }}"
              id="confirmnewpassword"
              name="confirm-newpassword"
              id="confirmPassword"
              required
              ngModel
              password="true"
              [(ngModel)]="confirmPassword"
            />
            <img
              src="assets/hide.png"
              alt="eye icon"
              id="confirmpass-icon"
              class="eye-icon"
              (click)="confirmPasswordVisibility()"
            />
            <div
              class="warnning-message"
              [hidden]="
                confirmPasswordInput.invalid || confirmPasswordInput.untouched
              "
            >
              <small *ngIf="changePassInp.value !== confirmPasswordInput.value"
                >كلمات المرور غير متطابقة</small
              >
            </div>
          </div>

          <button
            [disabled]="
              changePassform.invalid ||
              changePassInp.value !== confirmPasswordInput.value
            "
            type="submit"
            class="confirm"
            name="newpassword"
          >
            تأكيد
          </button>
          <a routerLink="/SignUp-Login">
          <button
            type="button"
            class="cancel"
            name="confirm-newpassword"

          >
            الغاء
          </button>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="alert;else AlertError" class="alert_success" [@slideInOut]>
  تم تغيير كلمة السر بنجاح.
</div>
<ng-template #AlertError>
  <div *ngIf="alertError" class="alert_fail" [@slideInOut] >
    تعذر إعادة تعيين كلمة السر.حاول مرة أخري.
  </div>
</ng-template>

